* {
    margin: 0px;
}

body {
    background-image: url('images/feathers.png');
    background-repeat: repeat;  
}


#header h1 {
    display: inline-block;
}

nav {
    display: inline-block;
}
nav ul {
    list-style-type: none;
    display: inline-block;
    text-align: right;
    margin: 0px auto;
}

nav li {
    display: inline-block;
    padding: 0px 20px 0px 20px;
}

#latestprojects {
    
    padding: 50px;  
    background-color: #ECE6DA;  
}

#hobby {
    margin-top: 50px;
    padding: 50px;  
    background-color: #ECE6DA;  
}

#study {
    margin-top: 50px;
    padding: 50px;  
    background-color: #ECE6DA;  
}

.project {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid white;
    display: inline-block;
}

.head {
    text-align: center;
}

#copy {
    padding: 10px;
    text-align: right;
   
}

h1 {
    font-size: 34px;
    font-family: 'Amatic SC';
    color: black;
    text-align: left;         
    padding-left: 50px;
    padding-top: 20px;
}

h2 {
    font-size: 34px;
    font-family: 'Amatic SC';
    color: black;
    text-align: center;  
}

p {
    font-size: 16px;
    font-family: 'Open Sans Condensed';
    color: black; 
}

.tag {
    font-style: italic;
}

a {
    text-decoration: none;
    color: black;
    font-size: 40px;
    font-family: 'Amatic SC';
    text-align: center;
}
