@tailwind base;

@tailwind components;

@tailwind utilities;

@layer utilities {
  @responsive {
    .smooth-scroll {
      scroll-behavior: smooth;
    }

    .anchor-stop::before {
      display: block;
      content: '';
      margin-top: -80px;
      height: 80px;
      visibility: hidden;
      pointer-events: none;
    }

    .backdrop::before {
      content: '';
      position: absolute;
      bottom: -8px;
      width: 100%;
      height: 100%;
    }

    .backdrop-swampgreen::before {
      background: #a6af98;
    }

    .backdrop-tangerine::before {
      background: #ffbd9a;
    }

    .backdrop-round::before {
      border-radius: 100%;
    }

    .backdrop-right::before {
      right: -8px;
    }

    .backdrop-left::before {
      left: -8px;
    }

    .backdrop-overlay::before {
      z-index: 1;
    }

    .backdrop-behind::before {
      z-index: -1;
    }
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  .smooth-scroll {
    scroll-behavior: auto !important;
  }
}

::selection {
  background-color: rgb(74, 85, 104);
  color: #ffffff;
}
